<!DOCTYPE html>
<html lang="en">

<head>
    <title>XLVM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="../image/xlvm.svg" type="image/x-icon">

    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <nav class="nav navbar-custom fixed-top">
        <a class="logo left-m">
            <img src="../image/xlvm.svg">
        </a>
    </nav>
    <section>
        <div class=" navbar navbar-expand-lg bg-dark navbar-dark fixed-top top-m-50" id="navbar">

            <ul class="d-flex nav navbar-nav left-m-30">
                <li class="nav-item">
                    <a class="nav-link" href="#">XLVM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Libraries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Embedded</a>
                </li>
                <ul class="d-flex nav navbar-nav left-m-40">
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">security</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">community</a>
                    </li>
                </ul>
            </ul>

        </div>
    </section>



    <div class="docs_content top-m-145">
        <div class="docs_table">
            <div>
                <p class="title left-m-20"> XLVM</p>
                <div class="separator"></div>
            </div>
            <div class="left-m-20">
                <ul class=" list-inline docs">
                    <li>
                        <a href="#"> Documentation</a>
                    </li>
                    <li>
                        <a href="#"> Libraries </a>
                    </li>
                    <li>
                        <a href="#"> Embedded</a>
                    </li>
                    <li>
                        <a href="#">Download</a>
                    </li>
                    <li>
                        <a href="#">Security</a>
                    </li>
                    <li>
                        <a href="#">Community</a>
                    </li>

                </ul>
            </div>
            <div>
                <p class="tit top-m-150 left-m-10">New Releases</p>
                <div class="separator"></div>
            </div>
            <div class="left-m-20">
                <ul class=" list-inline docs">
                    <li>
                        <a href="#"> Espresso </a>
                    </li>


                </ul>
            </div>
            <div>
                <p class="tit top-m-150 left-m-10">Old Releases</p>
                <div class="separator"></div>
            </div>
            <div class="left-m-20">
                <ul class=" list-inline docs">
                    <li>
                        <a href="#">Espresso v-1.0.0</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="cont_explain  top-m-145">
        <p class="st_pa  left-m-10"> The XLVM Library Infrastructure</p>

        <div style="padding:50px;">
            <p style="margin-bottom: 40px"> The XLVM is a Multi-Collection modular project, provides high level tool
                sets to manage low level
                technologies. XLVM itself doesn't acronym. XLVM is a international private research foundation, acronyms
                as <span class="green" style="font-weight: bold;"><i>IPRF</i></span>.
            </p>
            <p style="margin-bottom: 40px"> XLVM is at it’s early stage, begins as a research project in IPRF ,
                involvement of different areas like
                micro-controller, micro-processor communication and embedded system to manage instructions to
                input/output, machine learning to make it more intelligence and advancement and many more areas that
                XLVM covers up. Aims of XLVM is to make it commonise amongs different manufacturers and implementations.
                Especially in case of assembly languages, XLVM provides more efficient way to remove unnecessarily
                complexities to write a hello world code and easy to manage different registers of different
                architectures. Some of XLVM’s project is provides wrapper APIs.
            </p>
            <p style="margin-bottom: 40px">
                Most of XLVM’s projects has grown to be a commercial and open source level, most of it’s projects used
                as a research level. Later on, XLVM will be licensed under commercial source. Both GNU-GCC and
                LLVM-Clang is supported to XLVM core library.
            </p>

            <p>
                Primarily, the XLVM core library written in C and C++ which covers many areas:
            </p>
            <div>
                <p>
                    <span class="green">1.</span>&nbsp; &nbsp; The XLVM core library provides translation from any
                    language to target language with minimal and
                    optimised.
                </p>
                <p>
                    <span class="green">2.</span>&nbsp; &nbsp; <span class="black">socket</span> is a wrapper library
                    which has zero copy
                    capabilities through kernel level data flow from database
                </p>
                <p>
                    <span class="green">3.</span>&nbsp; &nbsp;<span class="black">delta</span> is a native assembly
                    language which compatibles with architecture 8086 micro-controller and
                    8086 micro-proccessor.
                </p>
                <p>
                    <span class="green">4.</span>&nbsp; &nbsp; <span class="black">espresso</span> is a project written
                    in native C++ which reduces the complexity of server and client side.
                </p>
                <p>
                    <span class="green">5.</span>&nbsp; &nbsp; <span class="black">libopencl</span> is combined library
                    of opencl standard library and dlib (pixel lib), aims to implement in calibration of camera and
                    frames.
                </p>
                <p>
                    <span class="green">6.</span>&nbsp; &nbsp; <span class="black">corelib</span> is it’s XLVM core
                    library provides common infra-structure from different manufacturers
                </p>
                <p>
                    <span class="green">7.</span>&nbsp; &nbsp; <span class="black">libnlp</span> is a project that aims
                    to sentiments analysis of human languages, widely used in machine learning
                </p>
                <p>
                    <span class="green">8.</span>&nbsp; &nbsp;<span class="black">torch</span> is a project, aims to
                    provide high level APIs which is widely used in machine learning data analysis
                </p>
                <p>
                    <span class="green">9.</span>&nbsp; &nbsp;<span class="black">mml</span> is a project, acronyms
                    “Machine Middle Language”
                </p>
                <p>
                    <span class="green">10.</span>&nbsp; &nbsp; <span class="black">tango</span> is a C++ script,
                    provides highly tuned implementations of low level interections to assembly codes, supports both
                    both architecture 32 bits and 64 bits operating systems: x86_64/32,
                    arm_64/32
                </p>
            </div>


        </div>




</body>

</html>