<!DOCTYPE html>
<html lang="en">

<head>
    <title>XLVM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="xlvm.svg" type="image/x-icon">

    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="header ">
        <div class="container">
            <div class="row justify-content-between">
                <a class="logo left-m">
                    <img src="xlvm.svg" alt="Logo">
                    <p class="title right-m-10" style="font-weight: bold;"> XLVM</p>

                </a>
            </div>
        </div>
    </div>

    <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

        <button type="button" class="navbar-toggler custom-btn" data-toggle="collapse" data-target="#menu">
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
            <div class="line-menubar"></div>
        </button>
        <div class="navbar-nav  collapse navbar-collapse  margin-right-40" id="menu">
            <div class="navbar-nav mx-auto nav_responsive margin-right-40">
                <ul class="d-flex nav navbar-nav ">
                    <a href="#" class="fwc_pa">XLVM</a>
                    <a href="#" class="fwc_pa">Libraries</a>
                    <a href="#" class="fwc_pa">Embedded</a>
                    <ul class="d-flex nav navbar-nav left-m-300">
                        <a href="#" class="fwc_pa">Download</a>
                        <a href="#" class="fwc_pa">security</a>
                        <a href="#" class="fwc_pa">community</a>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner1">
        <div class="container">
            <div class="docs-content">
                <div class="sec-heading centered">
                    <h1>The XLVM Library Infrastructure</h1>
                </div>
                <div class="row top-m-50">
                    <div class="col-lg-12 col-md-12">
                        <div class="text">
                            <p style="margin-bottom: 40px"> The XLVM is a Multi-Collection modular project, provides
                                high level tool
                                sets to manage low level
                                technologies. XLVM itself doesn't acronym. XLVM is a international private research
                                foundation,
                                acronyms
                                as <span class="green" style="font-weight: bold;"><i>IPRF</i></span>.
                            </p>
                            <p style="margin-bottom: 40px"> XLVM is at it’s early stage, begins as a research project in
                                IPRF ,
                                involvement of different areas like
                                micro-controller, micro-processor communication and embedded system to manage
                                instructions to
                                input/output, machine learning to make it more intelligence and advancement and many
                                more areas
                                that
                                XLVM covers up. Aims of XLVM is to make it commonise amongs different manufacturers and
                                implementations.
                                Especially in case of assembly languages, XLVM provides more efficient way to remove
                                unnecessarily
                                complexities to write a hello world code and easy to manage different registers of
                                different
                                architectures. Some of XLVM’s project is provides wrapper APIs.
                            </p>
                            <p style="margin-bottom: 40px">
                                Most of XLVM’s projects has grown to be a commercial and open source level, most of it’s
                                projects
                                used
                                as a research level. Later on, XLVM will be licensed under commercial source. Both
                                GNU-GCC and
                                LLVM-Clang is supported to XLVM core library.
                            </p>
                        </div>

                        <div class="services-item">
                            <p>
                                Primarily, the XLVM core library written in C and C++ which covers many areas:
                            </p>
                        </div>
                        <ul class="icon-border">
                            <div>
                                <i class=" margin-right-15">1.</i>
                                <p style="margin-left: 40px;">The XLVM core library provides translation from any
                                    language to target language with minimal and optimised.
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">2.</i>
                                <p style="margin-left: 40px;"> <a href="#">socket</a>
                                    is a wrapper library which has zero copy
                                    capabilities through kernel level data flow from database
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">3.</i>
                                <p style="margin-left: 40px;"> <a href="#">delta</a>
                                    is a native assembly language which compatibles with architecture 8086
                                    micro-controller and 8086 micro-proccessor.
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">4.</i>
                                <p style="margin-left: 40px;"> <a href="#">espresso</a>
                                    is a
                                    project written in native C++ which reduces the complexity of server and client
                                    side.
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">5.</i>
                                <p style="margin-left: 40px;"><a href="#">libopencl</a>
                                    is combined library of opencl standard library and dlib (pixel lib), aims to
                                    implement in calibration of camera and frames.
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">6.</i>
                                <p style="margin-left: 40px;"><a href="#">corelib</a>
                                    is it’s XLVM core library provides common infra-structure from different
                                    manufacturers
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">7.</i>
                                <p style="margin-left: 40px;"> <a href="#">libnlp</a>
                                    is a project that aims to sentiments analysis of human languages, widely used in
                                    machine learning
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">8.</i>
                                <p style="margin-left: 40px;"> <a href="#">torch</a>
                                    is a project, aims to provide high level APIs which is widely used in machine
                                    learning data analysis
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">9.</i>
                                <p style="margin-left: 40px;"><a href="#">mml</a>
                                    is a project, acronyms “Machine Middle Language”
                                </p>
                            </div>
                            <div>
                                <i class=" margin-right-15">10.</i>
                                <p style="margin-left: 40px;"> <a href="#">tango</a>
                                    is a C++ script, provides highly tuned implementations of low level interections to
                                    assembly
                                    codes, supports both both; architecture 32 bits and 64
                                    bits
                                    operating systems:x86_64/32,arm_64/32
                                </p>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
    </section>




    <!-- *********************************************StART =>1St Section <=*************************************************** */ -->

    <div class="footer ">
        <div class="container">
            <div class=" footer-text">
                <p> All Rights are Reserved &#169; 2021 by xlvm.org</p>
            </div>
        </div>
    </div>

</body>

</html>